@page "/"

<PageTitle>Moogle!</PageTitle>

<h1>🔍 Moogle!</h1>
<section class="layout" >
    <main>
        <section class="search-zone">
            <input id="search-bar"class="p-1 my-4" @bind-value="query" placeholder="Introduzca su búsqueda">

            <button id="search-button" type="default" class="btn btn-primary" @onclick="RunQuery">🔍 Buscar</button>
        </section>


        @if (!string.IsNullOrEmpty(result.Suggestion)) {
            <div class="suggestion">
                <p><b>¿Quisiste decir</b> <strong><a id="link-suggestion" href="#" @onclick="QuerySuggestion">@result.Suggestion</a></strong>?</p>
            </div>
        }

        <ul class="results">
        @foreach (var item in result.Items()) {
            <li>
                <div class="item">
                    <p class="title">@item.Title</p>
                    @* <p>... @item.Snippet ...</p> *@
                    <p>
                    @foreach (string word in item.Snippet.Split(" "))
                    {
                        string cad = "";
                        if(word.EndsWith("$$"))
                        {
                             cad = word.Remove(word.Length-2) + " ";
                            <strong><i>@cad</i></strong>
                        }
                        else
                        {
                            cad = word + " ";
                            @cad
                        }
                    }
                    </p>
                </div>
            </li>
        }
        </ul>
    </main>
</section>



@code {
    private string query = "";
    private SearchResult result = new SearchResult();


    private void RunQuery() {
        result = Moogle.Query(query);
    }
    private void QuerySuggestion()
    {
        query =  result.Suggestion;
        RunQuery();
    }
}
